body {
  font-family: 'Work Sans';
  line-height: 1;
}
.county-outline {
  fill: #ffffff;
  stroke: #eeeeee;
  stroke-width: 0.5;
}
.centroid-symbol {
  stroke-width: 2;
  stroke-linecap: round;
  pointer-events: none;
}
#vis,
#filter-container {
  width: 1000px;
  margin: 10px auto;
}
#language-filter-group,
#category-filter-group {
  margin-top: 20px;
}
.filter {
  display: inline-block;
  padding: 0 15px;
  margin: 0 5px 10px 0;
  background-color: #eeeeee;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0);
}
.on {
  border: 2px solid black;
}
.centroid-on {
  stroke-width: 5;
}
